<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /sheffieldshieldstats
	RewriteRule seasons/([0-9]+) site/controllers/seasons.php?s=$1
	RewriteRule players/([0-9]+) site/controllers/players.php?p=$1
	RewriteRule search site/controllers/search.php
	RewriteRule index.php site/controllers/index.php
	
	
</IfModule>

order deny,allow
#deny from all
#allow from 127.0.0.1
php_flag register_globals 0
php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

